#root {

  display: grid;

  grid-template-areas:

  /*definindo 2 colunas e 3 linhas*/
    'cabecalho cabecalho'
    'ladoEsquerdo principal'
    'rodape rodape';

    grid-template-rows: 64px 1fr 88px; /*linhas*/
    grid-template-columns: 288px 1fr; /*colunas. obs px fica fixo*/

}

